<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tasks</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>My Tasks</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="add-task-button">
        <ion-button color="primary" routerLink="/add-task">
          + Add Task
        </ion-button>
      </div>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Description</th>
              <th>Due Date</th>
              <th>Priority</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let task of taskService.tasks; let i = index">
              <td>{{ task.title }}</td>
              <td>{{ task.description }}</td>
              <td>{{ task.dueDate }}</td>
              <td>{{ task.priority }}</td>
              <td>{{ task.status }}</td>
              <td>
                <ion-button routerLink="/add-task">
                  Edit
                </ion-button>

                <ion-button
                  color="danger"
                  (click)="deleteTask(i)">
                  Delete
                </ion-button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
