<ion-header>
  <ion-toolbar>
    <ion-title>Add Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Add a new task</ion-card-title>
      <ion-card-subtitle>Fill out the form below to add a new task</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <form>
        <ion-item fill="outline" class="ion-margin-bottom">
          <ion-input label="Name" labelPlacement="floating" placeholder="Enter task name"></ion-input>
        </ion-item>

        <ion-item fill="outline" class="ion-margin-bottom">
          <ion-input label="Description" labelPlacement="floating" placeholder="Enter task description"></ion-input>
        </ion-item>

        <ion-item
          fill="outline"
          class="ion-margin-bottom"
          button
          (click)="openDatePicker()"
        >
          <ion-label>
            Due Date
          </ion-label>

          <ion-text slot="end">
            {{ selectedDate || 'Select date' }}
          </ion-text>
        </ion-item>

        <ion-item fill="outline" class="ion-margin-bottom">
          <ion-select label="Priority" labelPlacement="floating" placeholder="Select priority">
            <ion-select-option value="low">Low</ion-select-option>
            <ion-select-option value="medium">Medium</ion-select-option>
            <ion-select-option value="high">High</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item fill="outline" class="ion-margin-bottom">
          <ion-select label="Status" labelPlacement="floating" placeholder="Select status">
            <ion-select-option value="not-started">Not Started</ion-select-option>
            <ion-select-option value="in-progress">In Progress</ion-select-option>
            <ion-select-option value="completed">Completed</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button routerLink="/tasks">
          Save Task
        </ion-button>
      </form>
      <ion-modal
        [isOpen]="isDatePickerOpen"
        class="date-picker-modal"
        (didDismiss)="closeDatePicker()"
      >
        <ng-template>
          <ion-content class="ion-padding">

            <ion-datetime
              presentation="date-time"
              [(ngModel)]="selectedDate"
              [ngModelOptions]="{ standalone: true }"
            ></ion-datetime>

            <ion-button
              (click)="closeDatePicker()"
            >
              Done
            </ion-button>

          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card-content>
  </ion-card>

</ion-content>