<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Updated Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Updated Tasks</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>My Tasks</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Learn Angular</td>
        <td>Pending</td>
        <td>
          <ion-button>Edit</ion-button>
          <ion-button color="danger">Delete</ion-button>
        </td>
      </tr>

      <tr>
        <td>Learn Ionic</td>
        <td>Completed</td>
        <td>
          <ion-button>Edit</ion-button>
          <ion-button color="danger" routerLink="/tasks">Delete</ion-button>
        </td>
      </tr>
    </tbody>
  </table>
    </ion-card-content>
  </ion-card>
</ion-content>
